.App {
  font-family: sans-serif;
  text-align: center;
}
 body{
  background:no-repeat center/100% url("https://images.pexels.com/photos/6765372/pexels-photo-6765372.jpeg?auto=compress&cs=tinysrgb&w=600");
  
  
 }